<mat-card class="task-card" [ngClass]="task.status === 'concluída' ? 'done' : 'pending'">
  <div class="card-header">
    <h3 class="title">{{ task.title }}</h3>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opções">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEdit()">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        <span>Excluir</span>
      </button>
    </mat-menu>
  </div>

  <div>
    <p class="description">{{ task.description }}</p>
  </div>

  <div class="card-footer">
    <span class="due">Venc.: {{ task.dueDate | date:'shortDate' }}</span>
    <span class="status-label">{{ task.status }}</span>
  </div>
</mat-card>
